@CHARSET "UTF-8";


.button {border: 1px solid gray; border-radius: 4px; background: #eee; margin: 2px; padding: 4px; display: block; max-width: 150px}
.warning {background: #eeaaaa}

table.cacheoverview {border-collapse: collapse; margin: 10px}
table.cacheoverview, table.cacheoverview td, table.cacheoverview th {border: 1px solid gray}

table.cacheoverview th {background: #eee}
table.cacheoverview td, table.cacheoverview th {padding: 5px}