services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Aoe\Cachemgm\:
    resource: '../Classes/*'

  Aoe\Cachemgm\Controller\BackendModuleController:
    arguments:
      $moduleTemplateFactory: '@TYPO3\CMS\Backend\Template\ModuleTemplateFactory'
      $cacheManager: '@TYPO3\CMS\Core\Cache\CacheManager'
    public: true

  Aoe\Cachemgm\EventListener\AvoidCacheLoading:
    tags:
      - name: event.listener
        identifier: 'aoepoeple-cachemgm/avoid-cache-loading'
        event: TYPO3\CMS\Frontend\Event\ShouldUseCachedPageDataIfAvailableEvent